.ul_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 55px;
  @media screen and (max-width: 768px) {
    gap: 10px;
  }
  @media screen and (max-width: 375px) {
    gap: 15px;
  }

  li {
    font-size: 24px;
    @media screen and (max-width: 768px) {
      font-size: 16px;

      text-transform: uppercase;
    }
    @media screen and (max-width: 445px) {
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  .nav_link {
    color: $color-secondary;

    &.active {
      color: $color-secondary;
      text-decoration: underline;
    }
  }
}
