$white: #fff;
$black: #000;

// Colors
$color-primary: #fff;
$color-secondary: #ff6060;
$color-tertiary: #f6f6f6;

// Layout
$global-spacing: 1rem;

// Breakpoints
$breakpoints: (
  'tablette': 992px,
  'desktop': 1200px,
);
